In [46]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set()
import warnings
warnings.filterwarnings('ignore')

In [47]:
df1=pd.read_excel('dataset1.xlsx')
df2=pd.read_excel('dataset2.xlsx')

In [48]:
df1.shape

(51336, 26)

In [49]:
df2.shape

(51336, 62)

In [50]:
df1.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,...,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,...,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,...,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,...,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,...,0,0,0,0,0,3,0,2,131,32

In [51]:
df2.head()

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,...,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,...,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,...,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1

In [52]:
df1=df1.loc[df1['Age_Oldest_TL']!=-99999]
df1.shape

(51296, 26)

In [53]:
columns_to_be_removed = []

for i in df2.columns:
    if df2.loc[df2[i] == -99999].shape[0] > 12834:
        columns_to_be_removed.append(i)
        
columns_to_be_removed

['time_since_first_deliquency',
 'time_since_recent_deliquency',
 'max_delinquency_level',
 'max_deliq_6mts',
 'CC_utilization',
 'PL_utilization',
 'max_unsec_exposure_inPct']

In [54]:
pd.DataFrame(columns_to_be_removed)

                              0
0   time_since_first_deliquency
1  time_since_recent_deliquency
2         max_delinquency_level
3                max_deliq_6mts
4                CC_utilization
5                PL_utilization
6      max_unsec_exposure_inPct

In [55]:
df2 = df2.drop(columns_to_be_removed,axis=1)
df2.shape

(51336, 55)

In [56]:
df3=df2.copy()

In [57]:
for i in df3.columns:
    df3 = df3.loc[df3[i]!=-99999]
df3.shape

(35579, 55)

In [58]:
df3.head()

,PROSPECTID,time_since_recent_payment,num_times_delinquent,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,...,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
1,2,47,0,0,0,0,0,0,0,0,...,0.0,0.0,0.000,0.0,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,9,25,1,9,8,25,0,0,...,0.0,0.0,0.000,0.0,1,0,ConsumerLoan,others,693,P2
5,6,245,14,270,0,0,0,0,13,11,...,1.0,0.0,0.429,0.0,1,0,ConsumerLoan,PL,668,P3
7,8,74,3,133,0,0,0,0,2,2,...,0.0,0.0,0.000,0.0,0,0,ConsumerLoan,others,676,P2
8,9,424,3,38,2,3,1,99,3,1,...,0.0,0.0,0.000,0.0,0,0,ConsumerLoan,others,658,P4

In [59]:
# KNN imputation method in df2

In [60]:
# common columns name
for i in list(df1.columns):
    if i in list(df2.columns):
        print(i)

PROSPECTID

In [61]:
# merge both the table basis inner join
df = pd.merge(df1,df3,how='inner', on='PROSPECTID')

In [63]:
df.shape

(35579, 80)

In [64]:
df.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,2,1,0,1,0,0,0.000,0.0,1.000,0.000,...,0.0,0.0,0.000,0.0,0,0,ConsumerLoan,ConsumerLoan,685,P2
1,3,8,0,8,1,0,0.125,0.0,1.000,0.000,...,0.0,0.0,0.000,0.0,1,0,ConsumerLoan,others,693,P2
2,6,6,5,1,0,0,0.000,0.0,0.167,0.833,...,1.0,0.0,0.429,0.0,1,0,ConsumerLoan,PL,668,P3
3,8,6,4,2,0,0,0.000,0.0,0.333,0.667,...,0.0,0.0,0.000,0.0,0,0,ConsumerLoan,others,676,P2
4,9,1,0,1,0,0,0.000,0.0,1.000,0.000,...,0.0,0.0,0.000,0.0,0,0,ConsumerLoan,others,658,P4

In [65]:
df.isnull().sum().sum()

0

In [68]:
#check categorical viariable
for i in df.columns:
    if df[i].dtype =='object':
        print(i)

MARITALSTATUS
EDUCATION
GENDER
last_prod_enq2
first_prod_enq2
Approved_Flag

In [69]:
#chi square test
from scipy.stats import chi2_contingency

In [71]:
for i in ["MARITALSTATUS","EDUCATION","GENDER","last_prod_enq2","first_prod_enq2"]:
    
    chi2, pval,a,b = chi2_contingency(pd.crosstab(df[i],df['Approved_Flag']))
    print(i,'---',pval)

MARITALSTATUS --- 4.095160473208429e-191
EDUCATION --- 2.104715600708518e-37
GENDER --- 6.462836948408467e-06
last_prod_enq2 --- 0.0
first_prod_enq2 --- 1.0235474613330158e-227

In [72]:
# Cgeck for numerical columns
numeric_columns = []
for i in df.columns:
    if df[i].dtype!='object' and i not in ['PROSPECTID']:
        numeric_columns.append(i)

In [73]:
numeric_columns

['Total_TL',
 'Tot_Closed_TL',
 'Tot_Active_TL',
 'Total_TL_opened_L6M',
 'Tot_TL_closed_L6M',
 'pct_tl_open_L6M',
 'pct_tl_closed_L6M',
 'pct_active_tl',
 'pct_closed_tl',
 'Total_TL_opened_L12M',
 'Tot_TL_closed_L12M',
 'pct_tl_open_L12M',
 'pct_tl_closed_L12M',
 'Tot_Missed_Pmnt',
 'Auto_TL',
 'CC_TL',
 'Consumer_TL',
 'Gold_TL',
 'Home_TL',
 'PL_TL',
 'Secured_TL',
 'Unsecured_TL',
 'Other_TL',
 'Age_Oldest_TL',
 'Age_Newest_TL',
 'time_since_recent_payment',
 'num_times_delinquent',
 'max_recent_level_of_deliq',
 'num_deliq_6mts',
 'num_deliq_12mts',
 'num_deliq_6_12mts',
 'max_deliq_12mts',
 'num_times_30p_dpd',
 'num_times_60p_dpd',
 'num_std',
 'num_std_6mts',
 'num_std_12mts',
 'num_sub',
 'num_sub_6mts',
 'num_sub_12mts',
 'num_dbt',
 'num_dbt_6mts',
 'num_dbt_12mts',
 'num_lss',
 'num_lss_6mts',
 'num_lss_12mts',
 'recent_level_of_deliq',
 'tot_enq',
 'CC_enq',
 'CC_enq_L6m',
 'CC_enq_L12m',
 'PL_enq',
 'PL_enq_L6m',
 'PL_enq_L12m',
 'time_since_recent_enq',
 'enq_L12m',
 'enq_L6m',
 'enq_L3m',
 'AGE',
 'NETMONTHLYINCOME',
 'Time_With_Curr_Empr',
 'pct_of_active_TLs_ever',
 'pct_opened_TLs_L6m_of_L12m',
 'pct_currentBal_all_TL',
 'CC_Flag',
 'PL_Flag',
 'pct_PL_enq_L6m_of_L12m',
 'pct_CC_enq_L6m_of_L12m',
 'pct_PL_enq_L6m_of_ever',
 'pct_CC_enq_L6m_of_ever',
 'HL_Flag',
 'GL_Flag',
 'Credit_Score']

In [76]:
# Variance inflation factor
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [77]:
vif_data = df[numeric_columns]
total_columns = vif_data.shape[1]
columns_to_be_kept =[]
column_index = 0

In [78]:
for i in range(0,total_columns):
    vif_value = variance_inflation_factor(vif_data, column_index)
    print(column_index,"---",vif_value)
    
    if vif_value <= 6:
        columns_to_be_kept.append(numeric_columns[i])
        column_index+=1
    else:
        vif_data = vif_data.drop(numeric_columns[i],axis=1)

0 --- inf
0 --- inf
0 --- 11.438786902363596
0 --- 8.20585760426891
0 --- 6.548128968896226
0 --- 5.150257269314186
1 --- 2.6340124661725546
2 --- inf
2 --- 1662.6815494654013
2 --- 8.955702441486007
2 --- 4.0283593414666505
3 --- 7.381800402545
3 --- 7.234849457263119
3 --- 2.04566100065848
4 --- inf
4 --- 4.905295045854351
5 --- 25.052698769699386
5 --- 29.112471753470423
5 --- 4.303762283152016
6 --- 3.0361711215064444
7 --- 2.854104662594494
8 --- 4.369960517199508
9 --- 2.271071397829576
10 --- 4.51388999592377
11 --- 4.024179109707578
12 --- 1.8537074096180814
13 --- 8.429603352270776
13 --- 4.489624552956799
14 --- inf
14 --- 7.80331993946913
14 --- 1.753038562764889
15 --- 2.305908965839315
16 --- 7.932948245852622
16 --- 1.7351401965778463
17 --- 7.174571981093047
17 --- 15.045870499301447
17 --- 1.8154033424603904
18 --- 1.562191984404213
19 --- 2.3610950219216127
20 --- 2.883589955888552
21 --- 2.1343074876867054
22 --- 7.322608094013198
22 --- 1.9523240923540843
23 --- 1.4997662593404502
24 --- 2.2072252129112395
25 --- 2.6620502460079365
26 --- 4.522611129363697
27 --- 16.936674595351423
27 --- 6.560710562750573
27 --- 8.953712334132254
27 --- 2.4001247655579085
28 --- 8.927959220101341
28 --- 13.217268909412109
28 --- 3.5517584894290724
29 --- 2.035377183245419
30 --- 17.59698718533055
30 --- 10.808579871160255
30 --- 2.398082636107237
31 --- 22.11546824045451
31 --- 2.666923962702881
32 --- 3.414435900620523
33 --- 10.651588124871125
33 --- 6.803380345984767
33 --- 1.0026142971461858
34 --- 3.090360754579815
35 --- 2.806742016766426
36 --- 20.051389542378324
36 --- 15.597122276269772
36 --- 1.8657391488648454
37 --- 1.5762467175055133
38 --- 1.9465849183379111
39 --- 4.2505109662853515
40 --- 9.730408334693593

In [79]:
# for numerical , using ANOVA test

from scipy.stats import f_oneway

In [81]:
columns_to_be_kept_numerical =[]

for i in columns_to_be_kept:
    a = list(df[i])
    b = list(df['Approved_Flag'])
    
    group_p1 = [value for value,group in zip(a,b) if group=="P1"]
    group_p2 = [value for value,group in zip(a,b) if group=="P2"]
    group_p3 = [value for value,group in zip(a,b) if group=="P3"]
    group_p4 = [value for value,group in zip(a,b) if group=="P4"]
    
    f_statistic,p_value, = f_oneway(group_p1,group_p2,group_p3,group_p4)
    if p_value <= 0.05:
        columns_to_be_kept_numerical.append(i)

In [82]:
len(columns_to_be_kept_numerical)

38

In [83]:
columns_to_be_kept_numerical

['pct_tl_open_L6M',
 'pct_tl_closed_L6M',
 'Tot_TL_closed_L12M',
 'Tot_Missed_Pmnt',
 'CC_TL',
 'Home_TL',
 'PL_TL',
 'Secured_TL',
 'Unsecured_TL',
 'Other_TL',
 'Age_Oldest_TL',
 'Age_Newest_TL',
 'time_since_recent_payment',
 'max_recent_level_of_deliq',
 'num_deliq_6_12mts',
 'max_deliq_12mts',
 'num_times_60p_dpd',
 'num_std_12mts',
 'num_sub',
 'num_sub_6mts',
 'num_sub_12mts',
 'num_dbt',
 'num_dbt_12mts',
 'num_lss',
 'num_lss_12mts',
 'recent_level_of_deliq',
 'CC_enq_L12m',
 'PL_enq_L12m',
 'time_since_recent_enq',
 'enq_L3m',
 'NETMONTHLYINCOME',
 'Time_With_Curr_Empr',
 'CC_Flag',
 'PL_Flag',
 'pct_PL_enq_L6m_of_ever',
 'pct_CC_enq_L6m_of_ever',
 'HL_Flag',
 'GL_Flag']

In [84]:
# Final features
features = columns_to_be_kept_numerical +["MARITALSTATUS","EDUCATION","GENDER","last_prod_enq2","first_prod_enq2"]

In [85]:
df = df[features + ['Approved_Flag']]

In [86]:
df.shape

(35579, 44)

In [87]:
# "MARITALSTATUS","EDUCATION","GENDER","last_prod_enq2","first_prod_enq2"

df['MARITALSTATUS'].unique()

array(['Single', 'Married'], dtype=object)

In [88]:
df['EDUCATION'].unique()

array(['GRADUATE', 'SSC', '12TH', 'UNDER GRADUATE', 'POST-GRADUATE',
       'OTHERS', 'PROFESSIONAL'], dtype=object)

In [91]:
df.loc[df["EDUCATION"]=='SSC',["EDUCATION"]]=1
df.loc[df["EDUCATION"]=='12TH',["EDUCATION"]]=2
df.loc[df["EDUCATION"]=='UNDER GRADUATE',["EDUCATION"]]=3
df.loc[df["EDUCATION"]=='GRADUATE',["EDUCATION"]]=3
df.loc[df["EDUCATION"]=='POST-GRADUATE',["EDUCATION"]]=4
df.loc[df["EDUCATION"]=='PROFESSIONAL',["EDUCATION"]]=3
df.loc[df["EDUCATION"]=='OTHERS',["EDUCATION"]]=1

In [92]:
df['EDUCATION'].value_counts()

EDUCATION
3    16172
2     9756
1     8047
4     1604
Name: count, dtype: int64

In [93]:
df['EDUCATION'] = df["EDUCATION"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35579 entries, 0 to 35578
Data columns (total 44 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   pct_tl_open_L6M            35579 non-null  float64
 1   pct_tl_closed_L6M          35579 non-null  float64
 2   Tot_TL_closed_L12M         35579 non-null  int64
 3   Tot_Missed_Pmnt            35579 non-null  int64
 4   CC_TL                      35579 non-null  int64
 5   Home_TL                    35579 non-null  int64
 6   PL_TL                      35579 non-null  int64
 7   Secured_TL                 35579 non-null  int64
 8   Unsecured_TL               35579 non-null  int64
 9   Other_TL                   35579 non-null  int64
 10  Age_Oldest_TL              35579 non-null  int64
 11  Age_Newest_TL              35579 non-null  int64
 12  time_since_recent_payment  35579 non-null  int64
 13  max_recent_level_of_deliq  35579 non-null  int64
 14  num_deliq_6_12mts          35579 non-null  int64
 15  max_deliq_12mts            35579 non-null  int64
 16  num_times_60p_dpd          35579 non-null  int64
 17  num_std_12mts              35579 non-null  int64
 18  num_sub                    35579 non-null  int64
 19  num_sub_6mts               35579 non-null  int64
 20  num_sub_12mts              35579 non-null  int64
 21  num_dbt                    35579 non-null  int64
 22  num_dbt_12mts              35579 non-null  int64
 23  num_lss                    35579 non-null  int64
 24  num_lss_12mts              35579 non-null  int64
 25  recent_level_of_deliq      35579 non-null  int64
 26  CC_enq_L12m                35579 non-null  int64
 27  PL_enq_L12m                35579 non-null  int64
 28  time_since_recent_enq      35579 non-null  int64
 29  enq_L3m                    35579 non-null  int64
 30  NETMONTHLYINCOME           35579 non-null  int64
 31  Time_With_Curr_Empr        35579 non-null  int64
 32  CC_Flag                    35579 non-null  int64
 33  PL_Flag                    35579 non-null  int64
 34  pct_PL_enq_L6m_of_ever     35579 non-null  float64
 35  pct_CC_enq_L6m_of_ever     35579 non-null  float64
 36  HL_Flag                    35579 non-null  int64
 37  GL_Flag                    35579 non-null  int64
 38  MARITALSTATUS              35579 non-null  object
 39  EDUCATION                  35579 non-null  int32
 40  GENDER                     35579 non-null  object
 41  last_prod_enq2             35579 non-null  object
 42  first_prod_enq2            35579 non-null  object
 43  Approved_Flag              35579 non-null  object
dtypes: float64(4), int32(1), int64(34), object(5)
memory usage: 11.8+ MB

In [89]:
df['last_prod_enq2'].unique()

array(['ConsumerLoan', 'CC', 'others', 'PL', 'HL', 'AL'], dtype=object)

In [90]:
df['first_prod_enq2'].unique()

array(['ConsumerLoan', 'others', 'PL', 'HL', 'CC', 'AL'], dtype=object)

In [94]:
df_encoded = pd.get_dummies(df, columns=["MARITALSTATUS","EDUCATION","GENDER","last_prod_enq2","first_prod_enq2"],drop_first=True)

In [95]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35579 entries, 0 to 35578
Data columns (total 59 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   pct_tl_open_L6M               35579 non-null  float64
 1   pct_tl_closed_L6M             35579 non-null  float64
 2   Tot_TL_closed_L12M            35579 non-null  int64
 3   Tot_Missed_Pmnt               35579 non-null  int64
 4   CC_TL                         35579 non-null  int64
 5   Home_TL                       35579 non-null  int64
 6   PL_TL                         35579 non-null  int64
 7   Secured_TL                    35579 non-null  int64
 8   Unsecured_TL                  35579 non-null  int64
 9   Other_TL                      35579 non-null  int64
 10  Age_Oldest_TL                 35579 non-null  int64
 11  Age_Newest_TL                 35579 non-null  int64
 12  time_since_recent_payment     35579 non-null  int64
 13  max_recent_level_of_deliq     35579 non-null  int64
 14  num_deliq_6_12mts             35579 non-null  int64
 15  max_deliq_12mts               35579 non-null  int64
 16  num_times_60p_dpd             35579 non-null  int64
 17  num_std_12mts                 35579 non-null  int64
 18  num_sub                       35579 non-null  int64
 19  num_sub_6mts                  35579 non-null  int64
 20  num_sub_12mts                 35579 non-null  int64
 21  num_dbt                       35579 non-null  int64
 22  num_dbt_12mts                 35579 non-null  int64
 23  num_lss                       35579 non-null  int64
 24  num_lss_12mts                 35579 non-null  int64
 25  recent_level_of_deliq         35579 non-null  int64
 26  CC_enq_L12m                   35579 non-null  int64
 27  PL_enq_L12m                   35579 non-null  int64
 28  time_since_recent_enq         35579 non-null  int64
 29  enq_L3m                       35579 non-null  int64
 30  NETMONTHLYINCOME              35579 non-null  int64
 31  Time_With_Curr_Empr           35579 non-null  int64
 32  CC_Flag                       35579 non-null  int64
 33  PL_Flag                       35579 non-null  int64
 34  pct_PL_enq_L6m_of_ever        35579 non-null  float64
 35  pct_CC_enq_L6m_of_ever        35579 non-null  float64
 36  HL_Flag                       35579 non-null  int64
 37  GL_Flag                       35579 non-null  int64
 38  Approved_Flag                 35579 non-null  object
 39  MARITALSTATUS_Married         35579 non-null  bool
 40  MARITALSTATUS_Single          35579 non-null  bool
 41  EDUCATION_1                   35579 non-null  bool
 42  EDUCATION_2                   35579 non-null  bool
 43  EDUCATION_3                   35579 non-null  bool
 44  EDUCATION_4                   35579 non-null  bool
 45  GENDER_F                      35579 non-null  bool
 46  GENDER_M                      35579 non-null  bool
 47  last_prod_enq2_AL             35579 non-null  bool
 48  last_prod_enq2_CC             35579 non-null  bool
 49  last_prod_enq2_ConsumerLoan   35579 non-null  bool
 50  last_prod_enq2_HL             35579 non-null  bool
 51  last_prod_enq2_PL             35579 non-null  bool
 52  last_prod_enq2_others         35579 non-null  bool
 53  first_prod_enq2_AL            35579 non-null  bool
 54  first_prod_enq2_CC            35579 non-null  bool
 55  first_prod_enq2_ConsumerLoan  35579 non-null  bool
 56  first_prod_enq2_HL            35579 non-null  bool
 57  first_prod_enq2_PL            35579 non-null  bool
 58  first_prod_enq2_others        35579 non-null  bool
dtypes: bool(20), float64(4), int64(34), object(1)
memory usage: 11.3+ MB

In [97]:
df_encoded.describe()

In [98]:
df_encoded['Approved_Flag'].value_counts()

Approved_Flag
P2    21368
P3     5710
P4     4756
P1     3745
Name: count, dtype: int64